<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Add Student</title>
  <link rel="stylesheet" href="/Styles/addingElemStyle.css">
</head>
<body>
  <div class="form-container">
    <h2>Add New Student</h2>
    <form method="post">
      <label for="firstName">First Name</label>
      <input type="text" name="FirstName" id="firstName" placeholder="Student First Name" required>

      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" placeholder="Student Last Name" required>

      <label for="faculty">Faculty</label>
      <select name="FacultyID" id="faculty" required>
        <% for(let Faculty of Faculties){ %>
          <option value="<%= Faculty._id %>"><%= Faculty.FacultyName %></option>
        <% } %>
      </select>

      <label for="courses">Courses</label>
      <select multiple name="Courses[]" id="courses" required>
        <% for(let Course of Courses){ %>
          <option value="<%= Course._id %>"><%= Course.CourseName %></option>
        <% } %>
      </select>

      <label for="grade">Grade</label>
      <input type="number" name="grade" id="grade" min="0" max="100" placeholder="Student Grade" required>

      <input type="submit" value="Add Student">
    </form>
  </div>
</body>
</html>
